openai==0.28
Pillow
requests
streamlit
opencv-python
numpy==1.26.0
easyocr
ultralytics
pathlib
streamlit-authenticator==0.1.5
speechrecognition==3.8.1
pydub==0.25.1
ffmpeg-python==0.2.0
docx
python-docx==0.8.11
reportlab
pdf2image
pymssql
pymongo
python-dotenv==1.0.0
